body, #root,  html, .App{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --header-height: 10%
}

.Header{
  height: var(--header-height);
  display: flex;
  flex:0.5;
  background-image: linear-gradient(rgb(10, 10, 10),rgb(108, 108, 128));
  justify-content: space-around;
}

.Body{
  background-color: azure;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.nav-bar-img{
  height:100%;
  opacity: 0.5;
  transition: 0.3s;
}

.nav-bar-img:hover{
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.body-header{
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 1em;
  color: black;
  letter-spacing: 0.4em;
}

.user-interface{
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-part, .right-part{
  text-align: center;
  flex:0.5;
  padding: 1em;
}

.load-pdf-area{
  border: 0.25em;
  border-style: dashed;
  border-color:rgb(108, 108, 128);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-items: center;
}

.form-part{
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-items: center;
}

.drag-and-drop{
  display: flex;
  font-family: verdana;
  font-size: 1em;
  margin: 1em
}

.load-pdf-button{
  margin: 1em
}

.input-format-drawing{
  padding: 1em;
}

.scale-form, .slice-form{
  display: flex;
  justify-content: space-around;
}

.check-scale-options-button{
  padding: 1em;
}

.scaling-format-options{
  padding: 1em;
}