# node
node_modules
/.pnp
.pnp.js

# python
python_modules
pythonServices/unit_test_input_files/*
pythonServices/unit_test_output_files/*

# file types
*.log
.env
.eslintcache
desktop.ini

# vs code
/.vscode
/.history

# testing
/coverage



